# ======================================
# Common (backend & frontend) 
# ======================================
# files and directories
# ======================================
node_modules/
dist/
tmp/
temp/
frontend/test/


# Environment variables
# ======================================
.env
.env.*
!.env.sample


# Logs and reports
# ======================================
*.log
npm-debug.log*
coverage/
.nyc_output/
*.lcov


# OS / IDE files
# ======================================
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.swm
*.idea/
*.iml
.vscode/
.history/
*.bak
*.tmp


# SSL files
# ======================================
shared/assets/ssl/**/*.key
shared/assets/ssl/**/*.crt
shared/assets/ssl/**/*.pem
shared/assets/ssl/**/*.p12


# Node / Express (backend)
# ======================================
build/
out/
uploads/


# Bash / Python / OCR (backend)
# ======================================
backend/ocr/TO-DO.txt
backend/ocr/tmp/
backend/ocr/pr-license/images/
backend/ocr/pr-license/tmp/
backend/ocr/ve-cedula/images/
backend/ocr/ve-cedula/tmp/


# Angular (frontend)
# ======================================
.angular/
.angular/cache/
.angular/config.json


# Docker deployment
# ======================================
docker/backend/
docker/frontend/
docker/ssl/**/*.key
docker/ssl/**/*.crt
docker/ssl/**/*.pem
docker/ssl/**/*.p12
