<p-menubar class="w-full justify-content-between" [model]="items" [breakpoint]="'0'">
  <!-- Logo izquierda -->
  <ng-template pTemplate="start">
    <div class="flex align-items-center ml-2 mr-2 gap-2">
      <img 
        [src]="isDarkMode ? 'assets/images/codexAIobs-logo.png' : 'assets/images/codexAI-logo.png'" 
        [alt]="appName" 
      />
    </div>
  </ng-template>
  <!-- Logo derecha -->
  <ng-template pTemplate="end">
    <div class="flex align-items-center mr-2 gap-2">
      <app-theme-toggle></app-theme-toggle>
      <a href="https://www.mbonet.xyz" target="_blank" rel="noopener noreferrer">
        <img 
          [src]="isDarkMode ? 'https://www.mbonet.xyz/assets/img/my-profile-img.jfif' : 'https://www.mbonet.xyz/assets/img/my-profile-img.jfif'" 
          alt="Marc Bonet" 
          class="h-3rem"
        />
      </a>
    </div>
  </ng-template>
</p-menubar>
