:host {
  display: block;
  width: 100%;
}

.header-codex-ai-logo {
  display: inline-block;
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
}

.header-eniac-logo {
  display: inline-block;
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
}




/* 🔧 Media query for small screens (less than 768px) */
@media (max-width: 768px) {
  .header-codex-ai-logo {
    margin-right: 0.25rem;
  }

  .header-eniac-logo {
    margin-right: 0.25rem;
  }


  ::ng-deep .p-menubar .p-menubar-item-label {
    display: none;
  }
}